*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title{
  position: absolute;
  font-size: 1.5rem;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 2;
  text-align: center;
  color: #fff;
}
.header{
  font-size: 2.5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 2;
  color: #fff;
}
.info{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 2;
  color: #fff;
}
